.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-left-block {
  margin-left: 10%;
  margin-top: 5%;
  width: 20%;
  background-color: #00000088;
  color: white;
  text-align: center;
}